body{
    background-color: rgb(100, 150, 60);
}

h1{
    background-color: bisque;
    text-align: center;
    
}

.link-01{
    margin: 20px;
    border: 30px solid black;
    border-radius: 60px;
    text-align: center;
    opacity: .72;
    
}

tr{
    border: 3px solid black;

}
.table-01{
    background-color: antiquewhite ;
    border: 3px solid red;
    padding: 20px;
    margin-left: 44%;
    margin-right: 44%;

    padding: center;
    align-self: center;
    border-style: double;
    
}
th,td{
    border-style: dotted;
    margin-right: auto;
    margin-left: auto;
}